<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MutipleThread.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>46254BB91C55FCF9004D75F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46254BD21C55FCF9004D75F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>46254BDD1C55FCF9004D75F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
